.meta-slider {
  position: relative;
  border-radius: 5px;
  background: linear-gradient(90deg, #6d6dff 50%, #e4e4e4 50%);
  width: 100%;
  height: 10px;
  cursor: pointer;

  &__thumb {
    position: absolute;
    top: -7px;
    width: 24px;
    height: 24px;
    background: #6d6dff;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    transform: translateX(-12px);

    &_left {
      left: 0%;
    }

    &_right {
      left: 50%;
    }
  }

  &__marker {
    min-width: 40px;
    min-height: 25px;
    max-width: 70px;
    position: absolute;
    top: -175%;
    left: -50%;
    background-color: #6d6dff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
