@import '@base/base.scss';

.meta-slider {
  position: relative;
  border-radius: 5px;
  background-color: #e4e4e4;
  width: 100%;
  height: 10px;
  color: #000;
  cursor: pointer;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  box-sizing: border-box;

  &__progress {
    position: absolute;
    border-radius: 5px;
    height: 10px;
    pointer-events: none;
  }

  &__value {
    position: absolute;
    font-weight: 700;
    bottom: -25px;

    &_min {
      left: 0;
    }

    &_max {
      right: 0;
    }
  }

  &__thumb {
    position: absolute;
    top: -7px;
    width: 24px;
    height: 24px;
    background-color: #6d6dff;
    border-radius: 50%;
    border: 2px solid #ffffff;

    &_left {
      left: 50%;
      z-index: 1;
    }

    &_right {
      left: 50%;
      z-index: 99;
    }
  }

  &__marker {
    min-width: 40px;
    min-height: 25px;
    max-width: 70px;
    position: absolute;
    top: -175%;
    left: 50%;
    background-color: #6d6dff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: translateX(-50%);
  }

  &__scale {
    width: 100%;
  }

  &__scale-point {
    position: absolute;
    top: 33px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;

    &::after {
      content: '|';
      position: absolute;
      top: -18px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  button {
    cursor: pointer;
  }

  *,
  *:before,
  *:after {
    font-family: $font-family;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &~.error-info {
    margin: 5px 0;
    color: #ff1b1b;
    font-size: 14px;
    font-weight: 700;
  }

}
