@import '@base/base.scss';
@import '@comp/control/control';
@import './scss/container.scss';
@import './scss/slider.scss';
@import './scss/config.scss';

body,
html {
  background-color: #414d58;
  box-sizing: border-box;
}

.control {
  &__label {
    @media (max-width: 575px) {
      justify-content: space-between;
      text-align: left;
    }
  }

  &__checkbox-title {
    @media (max-width: 575px) {
      width: 100%;
    }
  }
}
