@import '../MetaSlider/MetaSlider';
@import '@base/base.scss';
@import './components/control/control';

body,
html {
  background-color: #414d58;
  box-sizing: border-box;
}

.container {
  &__wrapper {
    display: flex;
    background-color: #ffffff;
    margin: 1rem;
    padding: 2.5rem;
    border-radius: 10px;
    min-height: 250px;
    text-align: justify;
  }

  &__block {
    flex: 1 0 50%;
  }
}

.slider {
  &__wrapper {
    padding: 0 2rem;
  }
}

.config {
  &__wrapper {
    display: grid;
    grid-template: auto / repeat(2, auto);
    justify-items: end;
    align-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
  }
}
