.meta-slider {
  +.error-info {
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 10px 30px 10px 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ff1b1b;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    z-index: 199;
    opacity: 0.9;
    cursor: auto;

    &>.error-info__text {
      margin: 0;
      text-align: left;
    }

    &>.error-info__close-btn {
      position: absolute;
      right: 10px;
      top: 4px;
      background: none;
      color: #000000;
      border: 0;
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      transition: color 0.3s linear;

      &:hover {
        color: #3d3d3d;
      }
    }
  }
}
