.meta-slider {
  &_vertical {
    .meta-slider__marker {
      transform: translateX(-50%) rotate(90deg) translateX(-40%);
    }
  }

  &__marker {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 120%;
    min-width: 40px;
    max-width: 130px;
    min-height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    touch-action: none;
    transform: translateX(-50%);
  }
}
