.meta-slider {
  &_vertical {
    .meta-slider__scale-point {
      top: 54px;
      width: 120px;
      min-height: 20px;
      line-height: 20px;
      transform: translateX(-50%) rotate(90deg);
      text-overflow: initial;
      overflow: visible;
      padding: 0px;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 25px;

      &::after {
        bottom: 50%;
        left: 12%;
        border: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: inherit;
        height: 1px;
        width: 12px;
        transform: translate(-50%, 100%);
      }

      &_skipped {
        &::after {
          height: 1px;
          width: 6px;
        }
      }
    }
  }

  &__scale {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__scale-point {
    position: absolute;
    top: 6px;
    min-width: 20px;
    max-width: 120px;
    min-height: 30px;
    border: 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: translateX(-50%);
    padding: 15px 0 0 0;
    background: none;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: 50%;
      left: 50%;
      height: 12px;
      border-left-width: 1px;
      border-left-style: solid;
      border-color: inherit;
      transform: translateX(-50%);
    }

    &_skipped {
      pointer-events: none;

      &::after {
        content: '';
        height: 6px;
        border-color: inherit;
      }
    }
  }
}
