.meta-slider {
  &_vertical {
    .meta-slider__scale-point {
      display: block;
      top: 26px;
      max-width: 20px;
      min-height: 20px;
      line-height: 20px;
      transform: translateX(-50%) rotate(90deg);
      text-overflow: initial;
      overflow: initial;

      &::after {
        bottom: 50%;
        left: -50%;
        border: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: inherit;
        height: 1px;
        width: 12px;
        transform: translate(-50%, 100%);
      }

      &_skip {
        &::after {
          height: 1px;
          width: 6px;
        }
      }
    }
  }

  &__scale {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__scale-point {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 6px;
    min-width: 20px;
    max-width: 70px;
    min-height: 30px;
    border: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      bottom: 50%;
      left: 50%;
      height: 12px;
      border-left-width: 1px;
      border-left-style: solid;
      border-color: inherit;
      transform: translateX(-50%);
    }

    &_skip {
      pointer-events: none;

      &::after {
        content: '';
        height: 6px;
        border-color: inherit;
      }
    }
  }
}
