block variables
  -
    const propCheckbox = [
      {
        type: 'checkbox',
        name: 'showMarkers',
        text: 'Маркеры',
      },
      {
        type: 'checkbox',
        name: 'showScale',
        text: 'Шкала',
      },
      {
        type: 'checkbox',
        name: 'isRange',
        text: 'Интервал',
      },
      {
        type: 'checkbox',
        name: 'isVertical',
        text: 'Вертикальный вид',
      },
      {
        type: 'checkbox',
        name: 'showBackground',
        text: 'Фон у слайдера',
      },
      {
        type: 'checkbox',
        name: 'initAutoMargins',
        text: 'Авто отступы',
      },
      {
        type: 'checkbox',
        name: 'initFormatted',
        text: 'Авто формат',
      },
      {
        type: 'checkbox',
        name: 'initScaleAdjustment',
        text: 'Авто-подстройка делений шкалы',
      },
      {
        type: 'checkbox',
        name: 'calcNumberOfDecimalPlaces',
        text: 'Считать кол-во знаков после запятой',
      },
      {
        type: 'checkbox',
        name: 'showError',
        text: 'Показывать ошибки',
      },
      {
        type: 'checkbox',
        name: 'initAutoScaleCreation',
        text: 'Создание шкалы по шагу ползунка',
      },
      {
        type: 'checkbox',
        name: 'checkingStepSizeForScale',
        text: 'Оптимальный шаг шкалы',
      },
    ];
