block variables
  -
    const propCheckbox = [
      {
        type: 'checkbox',
        name: 'showMarkers',
        text: 'Markers',
      },
      {
        type: 'checkbox',
        name: 'showScale',
        text: 'Scale',
      },
      {
        type: 'checkbox',
        name: 'isRange',
        text: 'Interval',
      },
      {
        type: 'checkbox',
        name: 'isVertical',
        text: 'Vertical view',
      },
      {
        type: 'checkbox',
        name: 'showBackground',
        text: 'Slider background',
      },
      {
        type: 'checkbox',
        name: 'initAutoMargins',
        text: 'Auto-indent',
      },
      {
        type: 'checkbox',
        name: 'initFormatted',
        text: 'Auto-format',
      },
      {
        type: 'checkbox',
        name: 'initScaleAdjustment',
        text: 'Auto-adjustment of scale divisions',
      },
      {
        type: 'checkbox',
        name: 'calcNumberOfDecimalPlaces',
        text: 'Count the number of decimal places',
      },
      {
        type: 'checkbox',
        name: 'initAutoScaleCreation',
        text: 'Creating a scale by the step of the slider',
      },
      {
        type: 'checkbox',
        name: 'checkingStepSizeForScale',
        text: 'Optimal scale step',
      },
    ];
