block variables
  -
    const propInput = [
      {
        type: 'text',
        name: 'mainColor',
        text: 'Main color',
        },
      {
        type: 'text',
        name: 'secondColor',
        text: 'Second color',
        },
      {
        type: 'text',
        name: 'colorForScale',
        text: 'Scale color',
        },
      {
        type: 'text',
        name: 'colorMarker',
        text: 'Marker color',
        },
      {
        type: 'text',
        name: 'colorTextForMarker',
        text: 'Markers text color',
        },
      {
        type: 'text',
        name: 'colorBorderForMarker',
        text: 'Outline color for markers',
        },
      {
        type: 'text',
        name: 'colorThumb',
        text: 'Thumbs color',
        },
      {
        type: 'text',
        name: 'colorBorderForThumb',
        text: 'Outline color for thumbs',
        },
      {
        type: 'number',
        name: 'initValueFirst',
        text: 'First value',
        step: 'any',
        },
      {
        type: 'number',
        name: 'initValueSecond',
        text: 'Second value',
        step: 'any',
        },
      {
        type: 'text',
        name: 'textValueFirst',
        text: 'First text value',
        isDisabled: true,
        },
      {
        type: 'text',
        name: 'textValueSecond',
        text: 'Second text value',
        isDisabled: true,
        },
      {
        type: 'number',
        name: 'minValue',
        text: 'Minimum',
        step: 'any',
        },
      {
        type: 'number',
        name: 'maxValue',
        text: 'Maximum',
        step: 'any',
        },
      {
        type: 'number',
        name: 'step',
        text: 'Slider step',
        step: 'any',
        },
      {
        type: 'number',
        name: 'stepSizeForScale',
        text: 'Scale step',
        step: 'any',
        },
      {
        type: 'text',
        name: 'preFix',
        text: 'Prefix',
        },
      {
        type: 'text',
        name: 'postFix',
        text: 'Postfix',
        },
      {
        type: 'text',
        name: 'customValues',
        text: 'Custom values',
        },
      {
        type: 'number',
        name: 'numberOfDecimalPlaces',
        text: 'Number of decimal places',
        step: 1,
        },
      ];
