block variables
  -
    const propInput = [
      {
        type: 'text',
        name: 'mainColor',
        text: 'Цвет основной',
        },
      {
        type: 'text',
        name: 'secondColor',
        text: 'Цвет фоновый',
        },
      {
        type: 'text',
        name: 'colorForScale',
        text: 'Цвет шкалы',
        },
      {
        type: 'text',
        name: 'colorMarker',
        text: 'Цвет маркеров',
        },
      {
        type: 'text',
        name: 'colorTextForMarker',
        text: 'Цвет текста маркеров',
        },
      {
        type: 'text',
        name: 'colorBorderForMarker',
        text: 'Цвет обводки у маркеров',
        },
      {
        type: 'text',
        name: 'colorThumb',
        text: 'Цвет бегунков',
        },
      {
        type: 'text',
        name: 'colorBorderForThumb',
        text: 'Цвет обводки у бегунков',
        },
      {
        type: 'number',
        name: 'initValueFirst',
        text: 'Первое значение',
        step: 'any',
        },
      {
        type: 'number',
        name: 'initValueSecond',
        text: 'Второе значение',
        step: 'any',
        },
      {
        type: 'number',
        name: 'minValue',
        text: 'Минимум',
        step: 'any',
        },
      {
        type: 'number',
        name: 'maxValue',
        text: 'Максимум',
        step: 'any',
        },
      {
        type: 'number',
        name: 'step',
        text: 'Шаг ползунка',
        step: 'any',
        },
      {
        type: 'number',
        name: 'stepSizeForScale',
        text: 'Шаг шкалы',
        step: 'any',
        },
      {
        type: 'text',
        name: 'preFix',
        text: 'Префикс',
        },
      {
        type: 'text',
        name: 'postFix',
        text: 'Постфикс',
        },
      {
        type: 'text',
        name: 'customValues',
        text: 'Свои значения',
        },
      {
        type: 'number',
        name: 'numberOfDecimalPlaces',
        text: 'Кол-во знаков после запятой',
        step: 1,
        },
      ];
