.control {
  &__field {
    min-height: 32px;
  }

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: right;
    line-height: 1.4;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &__input {
    width: 130px;
    height: 30px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(138, 138, 138, 0.2);
    margin-left: 15px;
    padding: 0 15px;
    font-weight: 700;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      background-color: #cecece;
    }

    &:focus {
      outline: auto 2px #000;
    }
  }

  &__checkbox:checked+&__checkbox-title:before,
  &__checkbox:not(:checked)+&__checkbox-title:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #afafaf;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(138, 138, 138, 0.2);
  }

  &__checkbox:disabled+&__checkbox-title:before {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #cecece;
  }

  &__checkbox:checked+&__checkbox-title:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: url('./img/checkbox.svg') center 4px no-repeat;
    background-size: 24px;
  }

  &__checkbox:focus+&__checkbox-title:before {
    outline: #000 auto 2px;
  }

  &__checkbox_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  &__checkbox-title {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 32px;
    padding-right: 40px;
  }
}
